:root {
  --fg-regular: #2B2B2B;
  --fg-regular-85: rgba(43, 43, 43, .85);
  --fg-white: #FFF;
  --fg-black: #000;
  --fg-gray: #333;
  --fg-gray-light: #EFEFEF;
  --fg-gray-2: #545454;
  --fg-gray-3: #575757;
  --fg-red: #CB0B13;

  --bg-gray-item: rgba(237, 234, 232, .5);

  --bg-button-primary: #CB0B13;
  --fg-button-primary: #FFF;
  --bg-button-primary-hover: #C60F17;

  --bg-dark: #FCFCFC;
  --br-dark: #E9E9E9;

  --fg-green: #4CAF50;

  --bg-footer: #383838;

  --bg-filter: #F9F8F8;
  --bg-filter-button: #808080;

  --br-checkbox-icon: #C7C7C7;

  --fg-input-plachoder: rgba(0,0,0,.29);
  --fg-input-border: #E0E0E0;

  --bg-modal-overlay: rgba(20, 20, 20, .8);

  --bg-whatsapp: #58cd5d;
  --bg-viber: #9069AE;

  --box-shadow-modal: 0 7px 15px 0 rgba(0, 0, 0, 0.1), 0 28px 28px 0 rgba(0, 0, 0, 0.09), 0 63px 38px 0 rgba(0, 0, 0, 0.05), 0 112px 45px 0 rgba(0, 0, 0, 0.01), 0 175px 49px 0 rgba(0, 0, 0, 0);;
}

